<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title><%=title%></title>
		<meta name="description" content="collection websites" />
		<meta name="keywords" content="nodejs,jov" />
		<meta name="author" content="jov" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/icons.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<script src="/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div id="st-container" class="st-container">
			<nav class="st-menu st-effect-1" id="menu-1">
				<h2 class="icon icon-lab">OWeb</h2>
				<ul>
					<li><a class="icon icon-shop" href="#">Home</a></li>
					<li><a class="icon icon-world" href="#" title="分享你的网站">Share Your WebSite</a></li>
					<li><a class="icon icon-tag" href="#" title="标签">Tags</a></li>
					<li><a class="icon icon-stack" href="#">History Collections</a></li>
					<li><a class="icon icon-pen" href="#">Message</a></li>
					<li><a class="icon icon-search" href="#">Search</a></li>
					<li><a class="icon icon-user" href="#">About me</a></li>
				</ul>
			</nav>
			<div class="st-content"><!-- this is the wrapper for the content -->
			<div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
				<!-- Top Navigation -->
				<div class="codrops-top clearfix box-top" id="st-trigger-effects" >
					<a class="codrops-icon codrops-icon-prev" href="#" data-effect="st-effect-1"><span>MENU</span></a>
				</div>