<%- include header%>
<div class="main  main-box clearfix">
	<div class="windy-demo">
		<ul id="wi-el" class="wi-container">
			<li>
				<a href="#"><img src="/img/Ideas.png" alt="image1"/></a>
				<h4><a href="#">Oideas</a></h4>
				<p >Oideas 是我在刚开始学习nodejs的时候做的一个网站，主要用于分享想法，类似糗百这种，不过很不成功。做了相关的教程，大家如果喜欢的话可以看看。</p>
				<div class="web-others">
					<a class="icon icon-eye" href="/infor" style="padding:5px 20px;"></a>
					<a href="#" class="icon icon-bubble" style="padding:5px 20px;float:right"><span>0</span></a>
				</div>
			</li>
			<li>
				<a href="#"><img src="/img/OMinds.png" alt="image1"/></a>
				<h4><a href="#">OMinds</a></h4>
				<p >这是我专门给大家做教程用的另一个nodejs的web网站，有很熟悉的教程，也可以看到源码。</p>
				<div class="web-others">
					<a class="icon icon-eye" href="/infor" style="padding:5px 20px;"></a>
					<a href="#" class="icon icon-bubble" style="padding:5px 20px;float:right"><span>10</span></a>
				</div>
			</li>
		</ul>
	</div>
</div><!-- /main -->
<%- include footer%>