<%- include header%>
<div class="main  main-box clearfix">
	<div class="windy-demo">
		<ul id="wi-el" class="wi-container" style="margin-bottom:20px;min-height: 0;">
			<li style="margin-bottom:20px;padding:10px 20px;">
				<h4 style="padding:0 0 10px 0;border-bottom: 1px solid #f0f0f0;" class="icon icon-note">介绍</h4>
				<p > 那么从何说起呢？回顾近几年来，IT行业的各种新东西新技术，如雨后春笋般浮现，python、ruby、android、ios、nodejs、mongodb等，对于像我这样从事 软件行业的人来说，想要掌握所有这些新技术，并且达到熟练的程度是有一定困难的，但是不能因为有困难就放弃，对于自己感兴趣的东西，还是喜欢着手去学一下的，于是就有了这个想法 这也是我们Ideas目前的最大想法，基于这个像想法我们实现了Ideas这个网站，也不瞒大家，其实这个网站是我为了学习nodejs+mongodb而搭建的，内容不多，安全性也不高，请各位高手 手下留情，不要黑的太认真。老实说，我是一个不安分的人，有各种各样的想法，有时候突然就冒出来一个Idea，觉得很有意思，在心里各种YY，各种激动，不过大多都在不久之后就忘记了， 因为有很多想法很难付诸实践，往往就不了了之，也有在实践的过程中因为各种问题而放弃，不过我也有坚持，2013年对我来说是重要的一年，从大学毕业到社会上就业，到辞职换工作， 再到订婚结婚，一切好像都安排好了一样。也失去过很多机会，也学到不少。我在学习新东西的时候，往往喜欢拿实物来检验自己，学习android的时候也做过几个APP，不过这里就不好意思 献丑了。同样学习nodejs+mongodb完成了这个名叫Ideas的网站。有考虑分享本站源码，大概在所有功能都实现的差不多的时候。</p>
				<div class="web-others">
					<span>Oidea@</span><a  href="http://oideas.herokuapp.com/" >http://oideas.herokuapp.com/</a>
				</div>
			</li>
		</ul>
		<ul id="wi-el" class="wi-container" style="margin-bottom:20px;min-height: 0;" >
			<li style="padding:0;margin-bottom:20px;">
				<div id="cbp-fwslider" class="cbp-fwslider">
					<ul>
						<li><a href="#"><img src="/img/Ideas.png" /></a></li>
						<li><a href="#"><img src="/img/OMinds.png" alt="img02"/></a></li>
						<li><a href="#"><img src="/img/Ideas.png" /></a></li>
						<li><a href="#"><img src="/img/OMinds.png" alt="img02"/></a></li>
						<li><a href="#"><img src="/img/Ideas.png" /></a></li>
					</ul>
				</div>
			</li>
		</ul>
		<ul id="wi-el" class="wi-container" style="margin-bottom:20px;min-height: 0;">
			<li style="margin-bottom:20px;padding:10px 20px;">
				<h4 style="padding:0 0 10px 0;border-bottom: 1px solid #f0f0f0;" class="icon icon-paperplane">资源</h4>
				<p> 站点：<a href="http://oideas.herokuapp.com/">http://oideas.herokuapp.com/</a></p>
				<p> 教程：<a href="http://blog.csdn.net/jov123/article/category/2216585">http://blog.csdn.net/jov123/article/category/2216585</a></p>
				<p> 代码：<a href="https://github.com/joveth/OMinds">https://github.com/joveth/OMinds</a></p>
				<div class="web-others">
					<span class="icon icon-tag"></span><a  href="#" >oideas</a>,<a  href="#" >nodejs</a>
				</div>
			</li>
		</ul>
		<ul id="wi-el" class="wi-container" style="margin-bottom:20px;min-height: 0;">
			<li style="margin-bottom:20px;padding:10px 20px;">
				<h4 style="padding:0 0 10px 0;border-bottom: 1px solid #f0f0f0;" class="icon icon-bubble">评论</h4>
				<p>jov123@163.com<span class="codrops-icon codrops-icon-next" >好东西</span> </p>
				<p>ominds@163.com<span class="codrops-icon codrops-icon-next" >好东西</span> </p>
			</li>
		</ul>
	</div>
</div><!-- /main -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/jquery.cbpFWSlider.min.js"></script>
<script>
	$( function() {
		/*
		- how to call the plugin:
		$( selector ).cbpFWSlider( [options] );
		- options:
		{
			// default transition speed (ms)
			speed : 500,
			// default transition easing
			easing : 'ease'
		}
		- destroy:
		$( selector ).cbpFWSlider( 'destroy' );
		*/
		$( '#cbp-fwslider' ).cbpFWSlider();
	} );
</script>
<%- include footer%>